:root {
    --black: black;
    --grey: #33393f;
    --green: #2aefcb;
    --white: #f3fcf6;
    --pink: #f158f7;
}

header {
    color: var(--green);
}

body {
    background-color: var(--black);
    color: var(--gin);
    font-family: 'Fredoka One', cursive;
}

button {
    display: block;
    background-color: var(--grey);
    color: var(--pink);
    border: 2px solid var(--white);
    border-radius: 8px;
    padding: 1rem;
    margin: 25px;
    width: 80%;
}

button:hover {
    box-shadow: inset 0px 0px 8px var(--pink), 0 0 15px var(--pink);
}

#hero {
    display:flex;
    background-image: url("../images/background-start.jpg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 500px;
    margin: 25px;
    padding: 2rem; 
}

#start {
    position: absolute;
    top: 75%;
    left: 33%;
    width: 30%;
    font-size:large;
}

#quiz-questions {
    display: none;
    float: left;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 100%;
    padding: 2rem;
    color: var(--pink);
    outline: 2px dashed var(--white);
    outline-offset: -2px;
}

#scoreboard {
    display: none;
    float: right;
    flex-direction: column;
    min-height: 100%;
    padding: 2rem;
    color: var(--pink);
    outline: 2px dashed var(--white);
    outline-offset: -2px;
}

#highscores {
    display: none;
    color: var(--gin);
    width: 20%;
}

#highscores-list {
    display: none;
    color: var(--green);
}
